1.if else
2.if elif else
3.Nested if else
4.Single line if else

### if - elif condition

Case:
Online food orders- Zomato, swiggy, uber eats
Discounts 
if order > Rs.499 discount -10%
if order > Rs.999 discount-20%
Same can be represented in form of if else

In [7]:
total_amount=90+1100+120+390 #product prices
print(f"Total amount:{total_amount}")
if total_amount>999:
    price_after_discount=total_amount*0.8
    print(f"Pay amount: {price_after_discount}")
    
elif total_amount<=999 and total_amount>499:
    price_after_discount=total_amount*0.9
    print(f"Pay amount: {price_after_discount}")
    
else:
    price_after_discount=total_amount
    print(f"Pay amount: {price_after_discount}")

Total amount:1700
Pay amount: 1360.0

### Nested if-else

Print if the number is positive or negative
using if else inside if else -Nested if else

In [10]:
val=float(input("Enter a number: "))
if val>=0:
    if val==0:
        print("zero")
    else:
        print("Positive number")
else:
    print("negative number")

Enter a number: 0
zero

### single line if-else

In [15]:
val=int(input("Enter a number :"))
if val>99: print("yes ")

Enter a number :9

## Loops

1.While loop
2.For loop
3.Loop control
 -break
 -continue
 -pass
4.Nested loop

Case:
UPSC, IAS exams etc
repetative attempts

In [29]:
total_marks=700
cut_off=300
scores=[100,250,295,350,500]
for i in scores:
    if i >cut_off:
        print("You have cleared the exam")
    else:
        print("Better luck next time !!")

Better luck next time !!
Better luck next time !!
Better luck next time !!
You have cleared the exam
You have cleared the exam

### while loop

while I do not cross the cutoff marks I will keep on giving my exams

while CONDITION: #true
  print()

In [30]:
#while : condition is true it will perform that action
year=0
while scores[year]<cut_off:
    print(f"Your score is: {scores[year]}")
    print("Better luck next time")
    year=year+1

Your score is: 100
Better luck next time
Your score is: 250
Better luck next time
Your score is: 295
Better luck next time

#infinite loop
If the condition is always true then your loop will keep on running

A child is learning to counts 10 rupees of note.

In [38]:
notes=10
i=1
while i<=notes:
    print(f"current sum: {i*10}")
    i=i+1

current sum: 10
current sum: 20
current sum: 30
current sum: 40
current sum: 50
current sum: 60
current sum: 70
current sum: 80
current sum: 90
current sum: 100

In [3]:
#table of 9
number=9
i=1
while i<=number+1:
    print(f"{i} * {number} = {i*number}")
    i=i+1

1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90

In [9]:
#Various stations , taking journey from delhi to end destination
stations=["station1","station2","station3","station4"]
#station3 is the stoppage 
current_station=0
destination_station="station3"
while stations[current_station]!=destination_station:
    print(f"current station is:{stations[current_station]}")
    print("Continue the journey")
    
    current_station=current_station+1
    print(f"Next station is :{stations[current_station]}")
    print("-"*10)

current station is:station1
Continue the journey
Next station is :station2
----------
current station is:station2
Continue the journey
Next station is :station3
----------

### while else

In [11]:
#Various stations , taking journey from delhi to end destination
stations=["station1","station2","station3","station4"]
#station3 is the stoppage 
current_station=0
destination_station="station3"
while stations[current_station]!=destination_station:
    print(f"current station is:{stations[current_station]}")
    print("Continue the journey")
    
    current_station=current_station+1
    print(f"Next station is :{stations[current_station]}")
    print("-"*10)
else:
    print(f"Arrived at :{stations[current_station]}")

current station is:station1
Continue the journey
Next station is :station2
----------
current station is:station2
Continue the journey
Next station is :station3
----------
Arrived at :station3

while condition is true:
  statement
else: #condition when it becomes false
  statement

In [12]:
# Example:
notes=5
i=1
while i<=notes:
    print(f"current sum: {i*10}")
    i=i+1
else:
    print("No more notes left")

current sum: 10
current sum: 20
current sum: 30
current sum: 40
current sum: 50
No more notes left

### For loop

In [13]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(1,11):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [26]:
#Example:Purchase items and wants to know total amount
list_items=[50,100,90,25,876,456]
total_sum=0
for i in range(0,len(list_items)):
    total_sum=total_sum+list_items[i]
print(f"Total amount: {total_sum}")

Total amount: 1597

In [32]:
#Example:Doing train journey print the current station
stations=["station1","station2","station3","station4"]
destination="station3"

for station in stations:
    print(f"Current station is :{station}")

Current station is :station1
Current station is :station2
Current station is :station3
Current station is :station4

### Break and continue

In [57]:
#Example:

list_items=[50,100,90,25,876,456,299,300]

total_sum=0

budget=2000

for items in range(0,len(list_items)):
    total_sum=total_sum+list_items[items]
    if total_sum>=budget:
        total_sum=total_sum-items
        break  #stop 

   
        
print(total_sum)

2189

In [69]:
for i in range(1,100):
    print(i)
    if i>=50:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [72]:
#Example:continue
for i in range(1,20):
    if i%2==0: #If number is even then start the loop
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [74]:
#Example:continue
for i in range(1,20):
    if i%2!=0: #If number is odd then start the loop
        continue
    print(i)

2
4
6
8
10
12
14
16
18

break- condition is true
continue- continue the loop again if the condition is true
pass- nothing

In [75]:
#Example:continue
for i in range(1,20):
    if i%2!=0: #If number is odd then start the loop
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19