### Program to interchange first and the last element in a list

In [30]:
my_list=[1,3,4,6,7,9,10]
my_lists=[9,4,7,1,8,10]

In [26]:
def swap_ele(my_list):
    a=my_list[-1]
    b=my_list[0]
    my_list[-1]=b
    my_list[0]=a
    return my_list

In [27]:
swap_ele(my_list)

[10, 3, 4, 6, 7, 9, 1]

In [31]:
swap_ele(my_lists)

[10, 4, 7, 1, 8, 9]

### Program to swap two elements in a list

In [41]:
num=[6,4,2,7,8,9,0]
def swap(num,pos1,pos2):
    temp=num[pos2]
    num[pos2]=num[pos1]
    num[pos1]=temp
    return num

In [42]:
swap(num,0,6)

[0, 4, 2, 7, 8, 9, 6]

### Program :Ways to find the length of the list

In [43]:
name=[1,4,6,8,9,10]
def len_list(name):
    print(len(name))

In [44]:
len_list(name)

6

In [54]:
count=0
for i in name:
    count=count+1

In [55]:
count

6

### Program to Check if element exists in list

In [96]:
my_list=[3,5,6,8,1,9,0,2,4,5]
def element(my_list,ele):
    for i in range(0,len(my_list)):
        if my_list[i]==ele:
            print("Element exists in the list")
        else:
            None

In [95]:
element(my_list,10)

### Ways to clear list in python

In [97]:
p=[0,4,6,7,8,9,9]

In [98]:
print("List before clear:",p)
p.clear()
print("List after clear:",p)

List before clear: [0, 4, 6, 7, 8, 9, 9]
List after clear: []

### Reversing a list in python

In [101]:
s=[5,7,8,9,2,3,4,5,6]

In [102]:
print("original list:",s)
s.reverse()
print("List after reverse:",s)

original list: [5, 7, 8, 9, 2, 3, 4, 5, 6]
List after reverse: [6, 5, 4, 3, 2, 9, 8, 7, 5]

### Program to find sum of elements in a list

In [103]:
my_list=[3,5,6,7,8,9,3,'s']

In [116]:
k=0
for i in range(0,len(my_list)):
    if type(my_list[i]) is int:
        k=k+my_list[i]
        print(k)

3
8
14
21
29
38
41

In [117]:
k

41

### Multiply all numbers in a list

In [118]:
my_list=[4,5,6,7,8,9,3,2]
s=1

In [119]:
for i in range(0,len(my_list)):
    s=s*my_list[i]

In [120]:
s

362880

### Program to find smallest number in a list

In [124]:
list1=[3,6,2,8,6,4,5,10]

In [125]:
for i in range(0,len(list1)):
    list1.sort()
    print("smallest number in the list is :",list1[0])
    break

smallest number in the list is : 2

### Program to find Largest number in a list

In [127]:
for i in range(0,len(list1)):
    list1.sort()
    print("Largest number in the list is :",list1[-1])
    break

Largest number in the list is : 10

### Program to find all negative numbers in a range

In [128]:
start=-5
end=5

In [131]:
for i in range(start, end+1):
    if i<0:
        print(i,end=',')

-5,-4,-3,-2,-1,

### Program to find all positive numbers in a range

In [132]:
start=-5
end=5

In [133]:
for i in range(start, end+1):
    if i>0:
        print(i,end=',')

1,2,3,4,5,

### Progarm to print negative numbers in a list

In [134]:
list2=[3,5,6,78,2,-1,-2]

In [139]:
for i in list2:
    if i<0:
        print (i,end=',')

-1,-2,

### Program to print odd numbers in a list

In [141]:
list3=[4,2,3,1,6,7,9,3,1,17]

In [142]:
for i in list3:
    if i%2!=0:
        print(i)

3
1
7
9
3
1
17

### Program to print even numbers in a list

In [143]:
for i in list3:
    if i%2==0:
        print(i)

4
2
6

### Program to find second largest elements in a list

In [145]:
for i in range(0,len(list3)):
    list3.sort()
    print(list3[-2])
    break

9

### Program to find N numbers of largest elements in a list

In [157]:
list4=[56,2,4,7,8,9,1,2,3,4]

In [158]:
n=4
final_list=[]
for i in range(0,n):
    max1=0
    for j in range(0,len(list4)):
        if list4[j]>max1:
            max1=list4[j]
    list4.remove(max1)
    final_list.append(max1)

In [159]:
final_list

[56, 9, 8, 7]

In [160]:
list4

[2, 4, 1, 2, 3, 4]