### In This Notebook:
- Create Database
- Create Table
- Insert
- Select
- Where
- Order By
- Delete
- Drop Table
- Update
- Limit
- Join

In [1]:
import mysql.connector

### 1.Create connection with the db

In [7]:
my_db=mysql.connector.connect(host='localhost',user='user',password='password')
print(my_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x10ec0d2d0>

### 2.Checking existing database

In [8]:
#Creating cursor as pointers in the db to execute the necessary tasks
cur=my_db.cursor()
cur.execute("SHOW DATABASES")
for database in cur:
    print(database)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('system_db',)
('test',)

### 3.Creating database in db

In [11]:
cur=my_db.cursor()
cur.execute("Create database mydatabase")
cur.execute("SHOW DATABASES")
for database in cur:
    print(database)

('information_schema',)
('my_database',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)
('system_db',)
('test',)

mydatase is created in the db

### 3. Use mydatabase

In [12]:
# start using the database in which you want to store tables and perform necessary actions
cur=my_db.cursor()
cur.execute("USE mydatabase")

### 4. Creating Table

In [13]:
#creating table employees
cur=my_db.cursor()
cur.execute("CREATE TABLE  employees(name VARCHAR(20),designation VARCHAR(30),Phone_no INT(13),experience INT(3),joining_date DATE)")

In [14]:
#checking table exists
cur=my_db.cursor()
cur.execute("SHOW TABLES")
for tables in cur:
    print(tables)

('employees',)

### 5.Creating primary key

In [15]:
#As while creating the missed a column employee id so alter the table add the column and set primary key
cur=my_db.cursor()
cur.execute("ALTER TABLE employees ADD COLUMN emp_id INT(4) PRIMARY KEY")

### 6.Insert into table

In [23]:
#Insert single record in table employees
cur=my_db.cursor()
sql="INSERT INTO employees (emp_id,name,designation,Phone_no,experience,joining_date) VALUES (%s,%s,%s,%s,%s,%s)"
val=[1002,"sakshi","data scientist",98542356,2,"2023-03-12"]
cur.execute(sql,val)
my_db.commit()
print(cur.rowcount,"record inserted")

1 record inserted

In [25]:
#insert multiple rows at a time
cur=my_db.cursor()
sql="INSERT INTO employees (emp_id,name,designation,Phone_no,experience,joining_date) VALUES (%s,%s,%s,%s,%s,%s)"
val=[(1003,"rahul","web developer",1254735,2,"2023-02-09"),
    (1004,"mahesh","backend dev",54665346,4,"2021-08-12"),
    (1005,"rehan","devops",23356453,3,"2022-05-19"),
    (1006,"snigdha","devops",3425643,5,"2020-07-23"),
    (1007,"Pankaj","web developer",2355432,3,"2020-07-09"),
    (1008,"Yogita","data scientist",5543424,3,"2020-05-19"),
    (1009,"Amit","Sales",1245675,2,"2023-05-19"),
    (1010,"Umer","Java dev",1277635,1,"2021-05-19")]
cur.executemany(sql,val)
my_db.commit()
print(cur.rowcount,"record inserted")

8 record inserted

### 7.Select query

In [26]:
cur=my_db.cursor()
cur.execute("SELECT * from employees")
result=cur.fetchall()
for i in result:
    print(i)

('sakshi', 'data scientist', 98542356, 2, datetime.date(2023, 3, 12), 1001)
('sakshi', 'data scientist', 98542356, 2, datetime.date(2023, 3, 12), 1002)
('rahul', 'web developer', 1254735, 2, datetime.date(2023, 2, 9), 1003)
('mahesh', 'backend dev', 54665346, 4, datetime.date(2021, 8, 12), 1004)
('rehan', 'devops', 23356453, 3, datetime.date(2022, 5, 19), 1005)
('snigdha', 'devops', 3425643, 5, datetime.date(2020, 7, 23), 1006)
('Pankaj', 'web developer', 2355432, 3, datetime.date(2020, 7, 9), 1007)
('Yogita', 'data scientist', 5543424, 3, datetime.date(2020, 5, 19), 1008)
('Amit', 'Sales', 1245675, 2, datetime.date(2023, 5, 19), 1009)
('Umer', 'Java dev', 1277635, 1, datetime.date(2021, 5, 19), 1010)

### 8. select columns

In [27]:
cur=my_db.cursor()
cur.execute("SELECT name,designation from employees")
result=cur.fetchall()
for i in result:
    print(i)

('sakshi', 'data scientist')
('sakshi', 'data scientist')
('rahul', 'web developer')
('mahesh', 'backend dev')
('rehan', 'devops')
('snigdha', 'devops')
('Pankaj', 'web developer')
('Yogita', 'data scientist')
('Amit', 'Sales')
('Umer', 'Java dev')

### 9. select and where

In [29]:
cur=my_db.cursor()
cur.execute("SELECT name,designation from employees where designation='data scientist'")
result=cur.fetchall()
for i in result:
    print(i)

('sakshi', 'data scientist')
('sakshi', 'data scientist')
('Yogita', 'data scientist')

### 10.fetch first record

In [30]:
cur=my_db.cursor()
cur.execute("SELECT name,designation from employees where experience>1")
result=cur.fetchone()
for i in result:
    print(i)

sakshi
data scientist

1.Inside the execute necessary sql queries can be written.
2.Similarly with wildcards, orderby, groupby, update , delete, drop.
3.Same queries as to be written in mysql.